.merch {
    background-color: #3A3B3D;
}

.title {
    font-size: 50px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}

.merchnav {
    background-color: #F5B73C;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

.merchlink, .homelink, .biolink {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.tourlink{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.store {
    text-align: center;
    margin-top: 5%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5B73C;
}

.home {
    background-color:#F5B73C;
}

.homenav{
    background-color:#C62B3D;
    box-shadow: 0px 10px 40px rgb(0, 0, 0); 
}

.homebutton{
    background-color:#1E1F21;
    color: #F5B73C;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.homebutton:hover{
    background-color:#C62B3D;
    color:#1E1F21;
}

.description{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1E1F21;
}

.album{
    height: 800px;
    width: 800px;
}
.bio{
    background-color:#C62B3D;
}

.bionav{
    background-color:#F5B73C;
    box-shadow: 0px 10px 40px rgb(0, 0, 0); 
}

.band{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
}

.member-photo, .merch-photo{
    height: 200px;
    width: 200px;
    padding: 5px;
}

.tournav{
    background-color: white;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

.tours{
    background-color: #3A3B3D;
}

.tour-title, .tourlink{
    color:#3A3B3D;
}

.tour-desc{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5B73C;
}

.merchTitle{
    text-align: center;
    font-size: 200%;
    color: lightgray;
    font-style: italic;
    font-family:monospace;
    padding-top: 15%;
    padding-bottom: 5%;
}

ul.centered-nav{
    list-style-type: none;
    display: flex;
    justify-content: center; 
  }

#merchnav {
    color: lightgray;
}

#merchnav:hover {
    color: #C62B3D;
}

.merchNavTitle {
    text-align: center;
    margin-top: 10%;
    font-size: 700%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5B73C;
}

#price {
    font-size:xx-large;
}