/*Merch Page Styling*/
.merch {
    background-color: #3A3B3D;
}
.merchnav {
    background-color: #F5B73C;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

/*General*/
.title {
    font-size: 50px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}
.merchlink, .homelink, .biolink {
    font-size: 20px;
    font-weight: 500;
    color: black;
}
/*index*/
.home-title{
    color: white;
}
#navbar-toggler-icon-index{
    color:white; 
    border-color:white;
}

/*tours*/
.tourlink{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

/*bio*/




.index-homelink{
    color: white;
}
.store {
    text-align: center;
    margin-top: 5%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5B73C;
}

.home {
    background-color:#F5B73C;
}

.homenav{
    background-color:#C62B3D;
    box-shadow: 0px 10px 40px rgb(0, 0, 0); 
}

.homebutton{
    background-color:#1E1F21;
    color: #F5B73C;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.homebutton:hover{
    background-color:#C62B3D;
    color:#1E1F21;
}
.band-header{
    color:white;

}
.page-header{
    font-style: italic;
    text-align: center;
    margin-top: 10%;
    font-size: 500%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.band-name{
    text-align: center;
    margin-top: 10%;
    font-size: 200%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
}
.band-member{
    text-align: center;
    margin-top: 10%;
    font-size: 100%;
    font-family: 'Arial Narrow Bold', sans-serif;
    color:white;
}
.description{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1E1F21;
}

.album{
    height: 800px;
    width: 800px;
    margin-left:auto;
    margin-right: auto;
}
.bio{
    background-color:#C62B3D;
}

.bionav{
    background-color:#F5B73C;
    box-shadow: 0px 10px 40px rgb(0, 0, 0); 
}
.tour-header{
    font-size: 500%;
}
th{
    
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td{
    text-align: center;
    margin-top: 10%;
    font-size: 150%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.member-photo, .merch-photo{
    height: 200px;
    width: 200px;
    padding: 5px;
}

.merch-photo {
    display: block; 
    margin: 0; 
    padding: 0; 
    border: none; 
  }

.tournav{
    background-color: white;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

.tours{
    background-color: #3A3B3D;
}

.tour-title, .tourlink{
    color:#3A3B3D;
}

.tour-desc{
    text-align: center;
    margin-top: 10%;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5B73C;
}

.merchTitle{
    text-align: center;
    font-size: 200%;
    color: lightgray;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10%;
    padding-bottom: 5%;
}

ul.centered-nav{
    list-style-type: none;
    display: flex;
    justify-content: center; 
  }

#merchnav {
    color: lightgray;
}

#merchnav:hover {
    color: rgb(198, 43, 61);
}

.merchNavTitle {
    text-align: center;
    margin-top: 5%;
    font-size: 700%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5B73C;
}

#price {
    font-size:xx-large;
}

.size-options {
    display: none; 
    margin-top: 10px;
}

.size-options button {
    margin-right: 10px;
}

.col-md-4 {
    margin-bottom: 2%;
}

.bordered-img {
    border: 5px solid white; 
    border-radius: 10px; 
  }


#shop-cart{
    color: #1E1F21;
    padding-top:2% ;
    
}
#cart-items{
    color:#3A3B3D
}

.cart-total{
    color:#1E1F21;
   
}

.shop{
    background-color: #F5B73C;
    border-radius: 2%;
    border-color: #F5B73C;
    border-width: 5px;
    
}

p {
    color: lightgray;
}

#cart-total {
    color:lightgray
}

.shop {
    margin-left: 2%;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.merch-photo {
    width: 85%; 
    max-width: 300px; 
    height: auto; 
    margin-bottom: 10px;
}

.size-btn, .btn-outline-warning {
    margin-top: 10px;
}

#smaller {
    font-size: x-large;
}

.theform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    max-width: 100%; 
}

input {
    width: 100%; 
    max-width: 400px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 60px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #3A3B3D;
    border: 1px solid #3A3B3D;
    border-bottom: 2px solid #1E1F21;
}

input[type="submit"] {
    width: auto;
    max-width: 200px;
    padding: 10px;
    margin-top: 10px;
    background-color: #5A5B5D;
    border: 1px solid #1E1F21;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #78797a; 
    color: lightgray;
}

.signUp{
    text-align: center;
    margin-top: 5%;
    font-size: 400%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #dadada;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}