.merch {
    background-color: #3A3B3D;
}

.title {
    font-size: 50px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}

.merchnav {
    background-color: #F5B73C;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

.merchlink, .homelink, .biolink {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.tourlink{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.store {
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5B73C;
}

.home {
    background-color:#F5B73C;
}

.homenav{
    background-color:#923cf5;
    box-shadow: 0px 10px 40px rgb(0, 0, 0); 
}

.homebutton{
    background-color:#923cf5;
    color: #F5B73C;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.homebutton:hover{
    background-color:black;
    color:#F5B73C;
}

.description{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #923cf5;
}

.album{
    height: 800px;
    width: 800px;
}
.bio{
    background-color:#0f990b;
}

.bionav{
    background-color:white;
    box-shadow: 0px 10px 40px rgb(0, 0, 0); 
}

.band{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
}

.member-photo, .merch-photo{
    height: 200px;
    width: 200px;
    padding: 5px;
}

.tournav{
    background-color: #0f990b;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

.tours{
    background-color: #923cf5;
}

.tour-title{
    color:white;
}

.tour-desc{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5B73C;
}
